{% extends 'layout.html' %}
{% load staticfiles %}
{% block js %}
    <script type="text/javascript" src="{% static 'js/blog.js' %}"></script>
{% endblock %}
{% block css %}
    <link rel="stylesheet" href="{% static 'css/blog.css' %}">
{% endblock %}
{% block content %}

    <div class="jumbotron">
        <h1>관심 있는 블로그를 구독해보세요!</h1>
        <h4 class="main-explain">깃헙 계정을 연동하면 깃헙 계정에 등록된 이메일로 새로운 글 알람을 받아볼 수 있습니다!</h4>
    </div>

    <div class="blog-list">
        <div class="row">
            <div class="col-sm-4">
                {% for blog in col_1 %}
                    <div class="panel panel-primary">
                        <div class="panel-heading">
                            <h3 class="panel-title"><a href="{{ blog.blog_url }}">{{ blog.title }}</a></h3>
                        </div>
                        <div class="panel-body">
                            <li><a href="{{ blog.gh_url }}">{{ blog.gh_url }}</a></li>
                            {% if user in blog.users.all %}
                                <li>구독 중</li>
                            {% elif user.is_authenticated %}
                                <div name="div-subs-{{ blog.id }}">
                                    <button class="btn btn-success btn-block btn-subscribe subscribe"
                                            name="{{ blog.id }}">구독하기
                                    </button>
                                </div>
                            {% endif %}
                        </div>
                    </div>
                {% empty %}
                    <li>등록된 블로그가 없습니다.</li>
                {% endfor %}
            </div>
            <div class="col-sm-4">
                {% for blog in col_2 %}
                    <div class="panel panel-info">
                        <div class="panel-heading">
                            <h3 class="panel-title"><a href="{{ blog.blog_url }}">{{ blog.title }}</a></h3>
                        </div>
                        <div class="panel-body">
                            <li><a href="{{ blog.gh_url }}">{{ blog.gh_url }}</a></li>
                            {% if user in blog.users.all %}
                                <li>구독 중</li>
                            {% elif user.is_authenticated %}
                                <div name="div-subs-{{ blog.id }}">
                                    <button class="btn btn-success btn-block btn-subscribe subscribe"
                                            name="{{ blog.id }}">구독하기
                                    </button>
                                </div>
                            {% endif %}
                        </div>
                    </div>
                {% endfor %}
            </div>
            <div class="col-sm-4">
                {% for blog in col_3 %}
                    <div class="panel panel-warning">
                        <div class="panel-heading">
                            <h3 class="panel-title"><a href="{{ blog.blog_url }}">{{ blog.title }}</a></h3>
                        </div>
                        <div class="panel-body">
                            <li><a href="{{ blog.gh_url }}">{{ blog.gh_url }}</a></li>
                            {% if user in blog.users.all %}
                                <li>구독 중</li>
                            {% elif user.is_authenticated %}
                                <div name="div-subs-{{ blog.id }}">
                                    <button class="btn btn-success btn-block btn-subscribe subscribe"
                                            name="{{ blog.id }}">구독하기
                                    </button>
                                </div>
                            {% endif %}
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>
{% endblock %}