{% load staticfiles %}

<!DOCTYPE html>
<html lang="ko">
<head>
    <title>{% block page_title %}Pystagram{% endblock %}</title>
    <meta charset="utf-8">
    {% block base-css %}
        <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
        <link rel="stylesheet" href="{% static 'css/base.css' %}">
        {% block css %}
        {% endblock %}
    {% endblock %}
</head>

<body>
{% block body %}
    {% block nav-main %}
        <nav class="navbar navbar-inverse navbar-fixed-top">
            <div class="container">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar"
                            aria-expanded="false" aria-controls="navbar">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" href="/blog/">GitBlog.io</a>
                </div>
                <div id="navbar" class="collapse navbar-collapse">
                    <ul class="nav navbar-nav">
                        <li><a href="/blog/">Home</a></li>
                        <li><a href="#contact">Contact</a></li>
                    </ul>
                    <ul class="nav navbar-nav navbar-right">
                        {% if user.is_authenticated %}
                            <li><a href="/user/{{ user.username }}/">My Page</a></li>
                            <li><a href="/accounts/logout">Logout</a></li>
                        {% else %}
                            <li><a href="/accounts/login/">SignIn</a></li>
                            <li><a href="/accounts/register/">SignUp</a></li>
                        {% endif %}
                    </ul>
                </div><!--/.nav-collapse -->
            </div>
        </nav>

        {% if user.email == '' and user.first_name == '' %}
            <!-- needs github authentication -->
            <div class="alert alert-warning notify">
                <li>
                    <strong>Github 계정과 연동하여 구독 중인 블로그의 새로운 글을 이메일로 받아보세요!</strong>
                    <a href="/login/github/">연동하기</a>
                </li>
            </div>
        {% endif %}
    {% endblock %}
    <div class="container">
        {% block content %}{% endblock %}
    </div>
    {% block page-footer %}
    {% endblock %}
{% endblock %}

{% block base-js %}
    <script type="text/javascript" src="{% static 'js/jquery-3.1.0.min.js' %}"></script>
    {% block js %}{% endblock %}
{% endblock %}
</body>

</html>