{% extends "layout.html" %}
{% load staticfiles %}
{% block css %}
    <link rel="stylesheet" href="{% static 'css/login.css' %}">
{% endblock %}
{% block content %}

    <div class="login-notify">
        {% if form.errors %}
            <p>ID나 비밀번호가 일치하지 않습니다.</p>
        {% endif %}

        {% if next %}
            {% if user.is_authenticated %}
                <p>권한이 없는 페이지에 접근하였으니, 권한이 있는 계정으로 로그인하세요.</p>
            {% endif %}
        {% endif %}
    </div>

    <form class="form-signin" method="post" action="{% url 'login' %}">
        {% csrf_token %}
        <h2 class="form-signin-heading">Please sign in</h2>
        <label for="id_username" class="sr-only">Username</label>
        <input class="form-control" autofocus id="id_username" maxlength="254" name="username" placeholder="Username" type="text" required />
        <label for="id_password" class="sr-only">Password</label>
        <input class="form-control" id="id_password" name="password" type="password" required />

        <button class="btn btn-lg btn-primary btn-block" type="submit">Sign in</button>
        <input type="hidden" name="next" value=""/>
    </form>

{% endblock %}