{% extends 'layout.html' %}
{% load staticfiles %}
{% block css %}
    <link rel="stylesheet" href="{% static 'css/login.css' %}">
{% endblock %}
{% block content %}

    {% if form.errors %}
        {{ form.errors }}
    {% endif %}

    <form class="form-signin" action="" method="post">
        {% csrf_token %}
        <ul class="errorlist"></ul>
        <h2 class="form-signin-heading">Create an account</h2>
        <label for="id_username" class="sr-only">Username</label>
        <input class="form-control" autofocus="" id="id_username" maxlength="150"
               name="username" type="text" placeholder="Username" required/>
        <label for="id_password1" class="sr-only">Password</label>
        <input class="form-control" id="id_password1" name="password1" type="password" placeholder="Password" required/>
        <label for="id_password2" class="sr-only">Password confirmation</label>
        <input class="form-control" id="id_password2" name="password2" type="password"
               placeholder="Password confirmation" required/>
        <button class="btn btn-lg btn-primary btn-block" type="submit">Sign up</button>
    </form>
{% endblock %}